#brand {
  align-self: center;
  margin-right: auto;
  margin-left: 1vw;
}

.navbar-container {
  background-color: #1296d8;
  font-weight: lighter;
  color: white;
  display: inline-flex;
  font-size: 35px;
  justify-content: flex-end;
  min-height: 60px;
  width: 100vw;
}

.navbar-elements {
  align-self: center;
  margin: 0px 1vw 0px 0px;
  padding: 0px;
}

.navbar-elements li {
  display: inline;
}

.navbar-elements li:not(:last-child) {
  margin-right: 2vw;
}
