.calendar {
  margin: 5px auto;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.week-row {
  display: flex;
}

.day-box {
  background-color: gray;
  width:150px;
  height: 150px;
}

.week-row > .day-box:not(:last-child) {
  margin-right: 5px;
}

.week-row:not(:last-child) > .day-box {
  margin-bottom: 5px;
}
