<div class="instructions">
</div>
<div class="calendar-container">
  <div class="day-options">
    <div class="option" (click)="setOption(3)">
      <div class="option-label">Free</div>
      <div class="option-color"></div>
    </div>
    <div class="option" (click)="setOption(2)">
      <div class="option-label">Maybe</div>
      <div class="option-color"></div>
    </div>
    <div class="option" (click)="setOption(1)">
      <div class="option-label">No Way</div>
      <div class="option-color"></div>
    </div>
    <div class="option" (click)="setOption(0)">
      <div class="option-label">Clear</div>
      <div class="option-color"></div>
    </div>
  </div>
  <div class="calendar">
    <div *ngFor="let item of createRange(5); let i = index;" class="week-row">
      <div id="{{'day' + ((i*7) + 1)}}" class="day-box"></div>
      <div id="{{'day' + ((i*7) + 2)}}" class="day-box"></div>
      <div id="{{'day' + ((i*7) + 3)}}" class="day-box"></div>
      <div id="{{'day' + ((i*7) + 4)}}" class="day-box"></div>
      <div id="{{'day' + ((i*7) + 5)}}" class="day-box"></div>
      <div id="{{'day' + ((i*7) + 6)}}" class="day-box"></div>
      <div id="{{'day' + ((i*7) + 7)}}" class="day-box"></div>
    </div>
  </div>
</div>
