.calendar {
  margin: 5px 5px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.day-options {
  background-color: #0f232d;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  height: 250px;
  justify-content: space-between;
  margin: 5px 0px;
  width: 200px;
}

.option {
  display: flex;
  align-items: center;
  width: 100%;
}

.option-color {
  background-color: white;
  height: 20px;
  width: 20px;
}

.option-label {
  margin-right: auto;
}

.week-row {
  display: flex;
}

.day-box {
  background-color: #1296d8;
  height: 9vw;
  max-height: 120px;
  max-width: 120px;
  opacity: .8;
  width:9vw;
}

.day-box:hover {
  opacity: .6;
}

.out-of-month {
  opacity: .3;
}

.tentative {
  background-color: #fff34f;
}

.not-free {
  background-color: #ff5623;
}

.week-row > .day-box:not(:last-child) {
  margin-right: 5px;
}

.week-row:not(:last-child) > .day-box {
  margin-bottom: 5px;
}
