<div class="instructions">
</div>
<div class="calendar-container">
  <div class="day-options">
    <div class="option" (click)="setOption(3)"
      [ngClass]="{'option-selected': selectedOption === 3}">
      <div class="option-label">Free</div>
      <div class="option-color"></div>
    </div>
    <div class="option" (click)="setOption(2)"
      [ngClass]="{'option-selected': selectedOption === 2}">
      <div class="option-label">Maybe</div>
      <div class="option-color"></div>
    </div>
    <div class="option" (click)="setOption(1)"
      [ngClass]="{'option-selected': selectedOption === 1}">
      <div class="option-label">No Way</div>
      <div class="option-color"></div>
    </div>
    <div class="option" (click)="setOption(0)"
      [ngClass]="{'option-selected': selectedOption === 0}">
      <div class="option-label">Clear</div>
      <div class="option-color"></div>
    </div>
  </div>
  <div class="calendar">
    <div *ngFor="let item of createRange(5); let i = index;" class="week-row">
      <div *ngFor="let thing of createRange(7); let j = index;" class="day-box"
        id="{{'day' + ((i*7) + (j))}}"></div>
    </div>
  </div>
</div>
