<div class="instructions">
</div>
<div class="calendar-container">
  <div class="week-row">
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
  </div>
  <div class="week-row">
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
  </div>
  <div class="week-row">
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
  </div>
  <div class="week-row">
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
    <div class="day-box"></div>
  </div>
</div>
