.calendar {
  margin: 5px auto;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.week-row {
  display: flex;
}

.day-box {
  background-color: #1296d8;
  height: 125px;
  opacity: .8;
  width:125px;
}

.day-box:hover {
  opacity: .6;
}

.out-of-month {
  opacity: .3;
}

.tentative {
  background-color: #fff34f;
}

.not-free {
  background-color: #ff5623;
}

.week-row > .day-box:not(:last-child) {
  margin-right: 5px;
}

.week-row:not(:last-child) > .day-box {
  margin-bottom: 5px;
}
