<!-- main landing image -->
<div class="image-box">
  <div class="main-text-wraper">Less time planning</div>
  <div class="main-text-wraper">means more time doing</div>
</div>

<div class="how-container">
  <div class="how-copy">
    <div class="how-step">1</div>
    <div>Create</div>
    <p>Create your event. All it needs is a name so your buddies know what it's
      for.</p>
  </div>
  <div class="how-copy">
    <div class="how-step">2</div>
    <div>Add</div>
    <p>Enter the dates you are free. Date values can be "free :)",
      "could-be-free :|", or "deff not free :("</p>
  </div>
  <div class="how-copy">
    <div class="how-step">3</div>
    <div>Share</div>
    <p>Send the URL to your friends. No accounts needed - it remembers who you
      with your browser cookies.</p>
  </div>
</div>
