<!-- main landing image -->
<div class="image-box">
  <div class="main-text-wraper">Less time planning</div>
  <div class="main-text-wraper">means more time doing</div>
  <div class="start-button">
    <a class="button-link" routerLink="/events">Create Event</a>
  </div>
</div>

<div class="how-container">
  <div class="how-copy">
    <div class="how-step">1</div>
    <div>Create</div>
    <p>Create your event. All it needs is a name so your buddies know what it's
      for.</p>
  </div>
  <div class="how-copy">
    <div class="how-step">2</div>
    <div>Add</div>
    <p>Enter the dates you are free. Date values can be "free :)",
      "could-be-free :|", or "deff not free :("</p>
  </div>
  <div class="how-copy">
    <div class="how-step">3</div>
    <div>Share</div>
    <p>Send the URL to your friends. No accounts needed - it remembers who you
      with your browser cookies.</p>
  </div>
</div>

<div class="about-container">
  <div class="about-copy">
    <div>
      <h1>No accounts</h1>
      <div>
        <p>When you create an event, it is assigned a unique URL. Anyone with the
          URL can add information. Send it to your buddies so they can add their
          dates.
        </p>
      </div>
    </div>
    <div>
      <h1>No passwords</h1>
      <div>
        <p>Get the URL and go. After 10 days of no activity, the event is
          automatically deleted. Since anybody with the URL can see and add dates,
          try to keep the URL secret.
        </p>
      </div>
    </div>
  </div>
</div>
